default:
  image: registry.gitlab.com/basiliq/dockerfiles

stages:
  - test

build_and_test_rust:
  stage: test
  before_script:
    - mkdir -p .git/hooks
  script:
    - cargo fmt -- --check
    - cargo clippy -- -D warnings
    - cargo build --all-targets
    - cargo test
  after_script:
    - cd sppparse
    - cargo kcov
    - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN -s target/cov
