default:
  image: rustdocker/rustfmt:stable

stages:
  - test

build_and_test_rust:
  stage: test
  before_script:
    - export PATH=$PATH:/root/.cargo/bin/
    - mkdir -p .git/hooks
    - export NAME=sparse
  script:
    - cargo fmt -- --check
    - cargo clippy -- -D warnings
    - cargo build --all-targets
    - for file in $(find target/debug/deps -executable -name "$(basename $NAME)-*"); do mkdir -p "target/cov/$(basename $file)"; kcov "target/cov/$(basename $file)" --exclude-pattern=/.cargo,/usr/lib $file ; done
  after_script:
    - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN -s target/cov
